#include "resource.h"

IDD_STORY_PALETTE DIALOGEX 0, 0, 300, 400
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Story Explorer"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LISTBOX         IDC_LIST_STORIES, 10, 10, 280, 340, LBS_NOTIFY | WS_VSCROLL | WS_BORDER
    PUSHBUTTON      "Refresh", IDC_BTN_REFRESH, 110, 365, 80, 20
END